<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.danbush.hltb</string>
	<key>connections</key>
	<dict>
		<key>932D137E-9894-45D6-A929-1EF9B7EF29FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>233D9B44-AF96-494C-B7F5-05976CA8F253</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dan Bush, API by HLTB</string>
	<key>description</key>
	<string>How long will it take to beat a game?</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>How Long to Beat</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>hltb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Let's see here...</string>
				<key>script</key>
				<string>$LOAD_PATH.unshift ("./gems/httparty-0.16.4/lib")
$LOAD_PATH.unshift ("./gems/multi_xml-0.6.0/lib")
$LOAD_PATH.unshift ("./gems/mime-types-3.2.2/lib")
$LOAD_PATH.unshift ("./gems/mime-types-data-3.2018.0812/lib")
$LOAD_PATH.unshift ("./gems/alfred-3_workflow-0.1.0/lib")

require 'httparty'
require 'alfred-3_workflow'

require 'open-uri'
require 'fileutils'

workflow = Alfred3::Workflow.new

query = "{query}"

FileUtils.rm_rf(Dir['./images/*'])

# Set some defaults
game_id = ""
game_names = ""
game_difficulties = ""
game_difficulty_labels = ""

difficulty_1 = ""
difficulty_2 = ""
difficulty_3 = ""

params = { :page =&gt; "1", :queryString =&gt; query, :t =&gt; "games", :sorthead =&gt; "popular", :sortd =&gt; "Normal%20Order", :plat =&gt; "", :length_type =&gt; "main" }

response =
  HTTParty.post("https://howlongtobeat.com/search_results.php",
  :body =&gt; params
  )

game_id = response.scan(/id=(\d{4,5}"&gt;\n&lt;)/)

game_names = response.scan(/&lt;a title="([^"]*)"/)

game_difficulty_labels = response.scan(/&lt;div class="search_list_tidbit text_white shadow_text"&gt;([^"]*)&lt;\/div&gt;/)

game_difficulties = response.scan(/&lt;div class="search_list_tidbit center time_\d+"&gt;([^"]*)&lt;\/div&gt;/)

game_image = response.scan(/&lt;img src="([^"]*)/)
game_image_1 = game_image[0].join('')
image_path_1 = "./images/" + "image" + game_id[0].join('').sub("\"&gt;?&lt;", "") + ".jpg"

if game_image[1] != nil
  game_image_2 = game_image[1].join('')
  image_path_2 = "./images/" + "image" + game_id[1].join('').sub("\"&gt;?&lt;", "") + ".jpg"
  open(image_path_2, 'wb') do |file|
    file &lt;&lt; open(game_image_2).read
  end
end
if game_image[2] != nil
  game_image_3 = game_image[2].join('')
  image_path_3 = "./images/" + "image" + game_id[2].join('').sub("\"&gt;?&lt;", "") + ".jpg"
  open(image_path_3, 'wb') do |file|
    file &lt;&lt; open(game_image_3).read
  end
end

open(image_path_1, 'wb') do |file|
  file &lt;&lt; open(game_image_1).read
end

difficulty_1 = game_difficulties[0].join('').sub("&amp;#189;", ".5")
difficulty_2 = game_difficulties[1].join('').sub("&amp;#189;", ".5")
difficulty_3 = game_difficulties[2].join('').sub("&amp;#189;", ".5").sub("&lt;/div&gt;\n&lt;/div&gt; &lt;/div&gt;\n", "")

if game_image[2] != nil
  difficulty_4 = game_difficulties[3].join('').sub("&amp;#189;", ".5")
  difficulty_5 = game_difficulties[4].join('').sub("&amp;#189;", ".5")
  difficulty_6 = game_difficulties[5].join('').sub("&amp;#189;", ".5").sub("&lt;/div&gt;\n&lt;/div&gt; &lt;/div&gt;\n", "")
end

if game_image[3] != nil
  difficulty_7 = game_difficulties[6].join('').sub("&amp;#189;", ".5")
  difficulty_8 = game_difficulties[7].join('').sub("&amp;#189;", ".5")
  difficulty_9 = game_difficulties[8].join('').sub("&amp;#189;", ".5").sub("&lt;/div&gt;\n&lt;/div&gt; &lt;/div&gt;\n", "")
end

workflow.result
      .title(game_names[0].join(''))
      .subtitle(game_difficulty_labels[0].join('') + " - " + difficulty_1 + " | " + game_difficulty_labels[1].join('') + " - " + difficulty_2 + " | " + game_difficulty_labels[2].join('') + " - " + difficulty_3)
      .icon(image_path_1)
      .arg(game_id[0].join(''))

if difficulty_4 != nil
  workflow.result
        .title(game_names[1].join(''))
        .subtitle(game_difficulty_labels[0].join('') + " - " + difficulty_4 + " | " + game_difficulty_labels[1].join('') + " - " + difficulty_5 + " | " + game_difficulty_labels[2].join('') + " - " + difficulty_6)
        .icon(image_path_2)
        .arg(game_id[1].join(''))
end

if difficulty_7 != nil
  workflow.result
        .title(game_names[2].join(''))
        .subtitle(game_difficulty_labels[0].join('') + " - " + difficulty_7 + " | " + game_difficulty_labels[1].join('') + " - " + difficulty_8 + " | " + game_difficulty_labels[2].join('') + " - " + difficulty_9)
        .icon(image_path_3)
        .arg(game_id[2].join(''))
end

print workflow.output</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter a game name...</string>
				<key>title</key>
				<string>How Long To Beat...</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>932D137E-9894-45D6-A929-1EF9B7EF29FE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://howlongtobeat.com/game.php?id={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>233D9B44-AF96-494C-B7F5-05976CA8F253</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>233D9B44-AF96-494C-B7F5-05976CA8F253</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>932D137E-9894-45D6-A929-1EF9B7EF29FE</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://howlongtobeat.com/</string>
</dict>
</plist>
